<section
	class="static bg-[url('/puertorico.jpeg')] bg-fixed bg-no-repeat bg-center bg-cover"
>
	<div class="bg-gray-900 bg-opacity-40 flex p-8 md:p-20 gap-3">
		<div class="md:w-1/2">
			<h1 class="text-3xl font-bold md:text-6xl">
				Unforgettable adventures in Puerto Rico
			</h1>
			<p class="text-justify">
				Our mission is to showcase the island's stunning landscapes and vibrant
				culture through top-rated activities.
			</p>
			<button
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
			>
				View All Our Tours</button
			>
		</div>
		<span></span>
	</div>
</section>
